h1,
h2,
h3 {
    color: #ffffff;
    font-weight: 700;
    span {
        color: #a220d1;
    }
}

.text-center {
    text-align: center;
}

.fz58 {
    font-size: vw(58px);
    line-height: vw(68px);
}
.fz28 {
    font-size: vw(28px);
    line-height: 137.55%;
}
.fz24 {
    font-size: vw(24px);
    line-height: vw(28px);
}
.fz18 {
    font-size: vw(18px);
    line-height: 161.55%;
}
.fz42 {
    font-size: vw(42px);
    line-height: vw(49px);
}
