@media (max-width: 991px) {
    .logo {
        height: 12.4486vw;
    }
    .header__right .talk {
        display: none;
    }
    .header {
        height: 16.82243vw;
        padding: 0;
    }
    .header__wrapper {
        align-items: center;
        height: 100%;
    }
    .container {
        max-width: calc(100% - 7.00935vw) !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .burger {
        width: 16.82243vw;
        height: 16.82243vw;
        span {
            width: 7.57009vw;
        }
    }
    .img-text__text img {
        width: 34.81308vw;
    }
    .ofer-sec-item__img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .burger span:nth-child(1) {
        top: 5.84112vw;
    }
    .burger span:nth-child(3) {
        bottom: 5.84112vw;
    }
    .mob-menu {
        width: 100%;
        padding: 17.52336vw 14.01869vw;
        height: 100%;
    }
    .nav a {
        font-size: 7.94393vw;
        line-height: 94.7%;
    }
    .nav ul {
        gap: 8.17757vw;
    }
    .burger.active span:nth-child(3) {
        bottom: 8.17757vw;
    }
    .burger.active span:nth-child(1) {
        top: 7.94393vw;
    }
    .soc-block a {
        width: 12.14953vw;
        height: 12.14953vw;
    }
    .soc-block a img {
        max-width: 5.14019vw;
        width: 30%;
        max-height: 4.6729vw;
        object-fit: contain;
    }
    .mob-menu__bottom {
        margin-top: 8.17757vw;
        font-size: 3.73832vw;
        line-height: 171.7%;
        gap: 3.50467vw;
    }
    .mob-menu .soc-block {
        margin-top: 18.2243vw;
    }
    .promo .container {
        min-height: 140.18692vw;
        padding: 27.1028vw 0 19.85981vw;
    }
    .promo {
        height: auto;
    }
    .fz58 {
        font-size: 10.28037vw;
        line-height: 12.14953vw;
    }
    .partners::before {
        display: none;
    }
    .partners__wrapper {
        height: 11.68224vw;
        overflow-x: auto;
        padding: 0;
        gap: 11.25vw;
        z-index: 22;
        position: relative;
    }
    .partners__wrapper a {
        min-width: fit-content;
        width: fit-content;
    }
    .partners {
        padding: 0;
        padding: 0 0 10.98131vw;
        position: relative;
        margin-top: -4.6729vw;
        &::after {
            position: absolute;
            content: "";
            height: 36.68224vw;
            left: 0;
            top: -29.6729vw;
            width: 100%;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                #000000 100%
            );
        }
    }
    .row-img {
        margin-top: 0;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            height: 128.4px;
            width: 100%;
            background: #000;
        }
    }
    .btn {
        width: 100%;
        min-height: 11.21495vw;
        border-radius: 0.70093vw;
        font-size: 3.50467vw;
        line-height: 4.20561vw;
    }
    .btn.btn--border::before {
        display: none;
    }
    .btn.btn--border {
        background: none;
        border: 0.46729vw solid #b41281;
    }
    .promo__btn {
        margin-top: 2.57009vw;
    }
    .row-img-item > div {
        height: 54.43925vw;
        width: 81.7757vw;
        border-radius: 2.33645vw;
    }
    .row-img-item {
        height: 54.43925vw;
        margin-bottom: 4.6729vw;
        img {
            margin-right: 4.6729vw;
            border-radius: 2.33645vw;
        }
    }
    .img-text__wrapper {
        flex-direction: column;
    }
    .img-text__img {
        width: 100%;
        height: auto;
        min-height: 51.56075vw;
        margin-bottom: 6.54206vw;
        border-radius: 3.97196vw;
        img {
            border-radius: 3.97196vw;
        }
    }
    .img-text__img img {
        transform: translate(1.16822vw, 0.93458vw);
    }
    .img-text__img .preview img {
        transform: translate(0, 0);
    }
    .img-text__img .preview {
        width: calc(100% - 1.86916vw);
        height: calc(100% - 1.86916vw);
        left: 0.93458vw;
        top: 0.93458vw;
    }
    .img-text__text.line-not {
        margin-left: 0;
    }
    .img-text__text p {
        margin-bottom: 7.00935vw;
    }
    .img-text__img .player {
        width: calc(100% - 1.86916vw);
        height: calc(100% - 1.86916vw);
        left: 0.93458vw;
        top: 0.93458vw;
    }
    .play-btn {
        width: 18.92523vw;
        height: 18.92523vw;
        background-image: url(../img/icon/icon-play-mob.svg);
    }
    .img-text__text {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        max-width: 100%;
        &::before {
            display: none;
        }
    }
    .fz28 {
        font-size: 6.54206vw;
        line-height: 137.55%;
    }
    .fz18 {
        font-size: 4.20561vw;
        line-height: 161.55%;
    }
    .img-text__text div {
        margin-top: 5.60748vw;
    }
    .img-text__btn {
        margin-top: 5.60748vw;
    }
    .fz42 {
        font-size: 9.81308vw;
        line-height: 11.4486vw;
    }
    .provide h2 {
        max-width: 100%;
    }
    .provide__wrapper {
        gap: 7.94393vw;
    }
    .provide-item {
        width: 100%;
        height: auto;
        padding: 3.50467vw;
        border-radius: 2.33645vw;
    }
    .provide__wrapper {
        max-height: 100%;
    }
    .provide-mob-logo {
        display: block;
        position: absolute;
        left: 2.33645vw !important;
        top: 0;
        width: 30.61215vw !important;
        height: auto !important;
    }
    .fz24 {
        font-size: 5.60748vw;
        line-height: 6.54206vw;
        text-align: center;
    }
    .provide-item:nth-child(1) {
        height: 60.1215vw;
    }
    .provide-item:nth-child(2) {
        height: 93.29907vw;
    }
    .provide-item:nth-child(3) {
        height: 49.70561vw;
    }
    .provide-item:nth-child(4) {
        height: 59.81308vw;
    }
    .provide-item:nth-child(5) {
        height: 99.02804vw;
    }
    .provide__btn {
        margin-top: 7.71028vw;
    }
    .pd-sec {
        padding: 7.00935vw 0;
    }
    .soc-block a::before {
        width: calc(100% - 1.40187vw);
        height: calc(100% - 1.40187vw);
    }
    .soc-block {
        gap: 2.80374vw;
    }
    .clients__wrapper .box-img {
        width: 28.03738vw;
        height: 28.03738vw;
    }
    .clients__wrapper {
        height: 81.7757vw;
    }
    .clients {
        h2 {
            br {
                display: none;
            }
        }
    }
    .ofer-sec h2 {
        padding-right: 0;
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    .bfr-decor::before {
        width: 45.3271vw;
        height: 64.95327vw;
    }
    .ofer-sec-item {
        flex-direction: column-reverse;
        gap: 8.17757vw;
        margin-bottom: 18.69159vw;
    }
    .ofer-sec__wrapper {
        margin-top: 7.00935vw;
    }
    .ofer-sec-item__text {
        max-width: 100%;
        width: 100%;
        padding-left: 7.00935vw;
        &::before {
            width: 0.93458vw;
        }
    }
    .fz38 {
        font-size: 7.94393vw;
        line-height: 9.34579vw;
    }
    .ofer-sec-item:nth-child(even) {
        flex-direction: column-reverse;
    }
    .ofer-sec__btn-more {
        margin-top: 10.51402vw;
    }
    .fz50 {
        font-weight: 700;
        font-size: 11.68224vw;
        line-height: 13.78505vw;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
    }
    .bottom-page-block {
        margin-top: 15.42056vw;
        padding: 23.36449vw 0;
        h2 {
            padding: 0 2.33645vw;
            br {
                display: none;
            }
        }
    }
    .container {
        padding: 0;
    }
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__info {
        flex-direction: column;
        gap: 7.00935vw;
    }
    .footer__info {
        font-size: 4.43925vw;
        line-height: 171.7%;
    }
    .footer__logo {
        width: 54.95093vw;
        margin-bottom: 4.6729vw;
    }
    .footer {
        padding: 8.17757vw 0;
    }
    .footer__right {
        margin-top: 5.84112vw;
        align-items: center;
    }
    .footer__right .soc-block {
        opacity: 1 !important;
    }
    .footer__right div {
        font-size: 3.73832vw;
        line-height: 171.7%;
        color: #ffffff;
        opacity: 0.5;
    }
    .comment {
        max-width: calc(100% - 7.00935vw) !important;
        margin: 15.986111vw auto;
        padding: 4.388889vw 4.5138888889vw 3.4722222222vw;
    }
    .comment__icon {
        width: 15.263889vw;
        height: 15.263889vw;
    }
    .provide-item {
        @include text-hide(3);
    }
    .promo-item p {
        max-width: 100%;
    }
    .ofer-sec-item.bfr-decor::before {
        display: none;
    }
    .form__wrap {
        grid-template-columns: 1fr;
    }
    .form__textarea,
    .form__btn {
        grid-column: 1 / 2;
    }
    .form__input input,
    .form__textarea textarea {
        font-size: 5.25vw;
        line-height: 161.55%;
    }
    .form__input {
        height: 13.569444vw;
    }
    .form__textarea {
        height: 28.916667vw;
    }
    .form__btn {
        margin-top: 8.5625vw;
    }
    .promo-ofer {
        br {
            display: none;
        }
    }
    .text-block.text-block-wrap .container {
        width: calc(100% - 7.00935vw) !important;
        br {
            display: none;
        }
    }
    .fz32 {
        font-size: 5.222222vw;
    }
    .change-direction .ofer-sec-item {
        flex-direction: column-reverse;
    }
    .change-direction .ofer-sec-item:nth-child(even) {
        flex-direction: column-reverse;
    }
    .ofer-sec.big-img .ofer-sec-item__img {
        width: 100%;
        margin-right: 0;
    }
    .team .comment__icon {
        width: 19.138889vw;
        min-width: 19.138889vw;
        height: 19.138889vw;
        margin-right: 3vw;
        margin-top: 0;
    }
    .team .comment__info {
        align-items: flex-start;
    }
    .team .comment__icon::before {
        border-radius: 4.013889vw;
    }
}
