.partners {
    background: #000910;
    padding: vw(25px) 0;
    position: relative;
    margin-top: vw(-2px);
    z-index: 22;
    &::before {
        position: absolute;
        content: "";
        background: var(--pink-gr);
        height: vw(2px);
        width: 100%;
        left: 0;
        top: 0;
    }
}

.partners__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: vw(50px);
    a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(215px);
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
