.project {
    margin-top: vw(200px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: vw(40px);
    a {
        display: block;
        width: 100%;
        height: 100%;
        max-height: vw(520px);
        &.width100 {
            grid-column: 1 / 3;
            height: inherit;
            max-height: inherit;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
