.row-img {
    margin-top: vw(60px);
    margin-bottom: vw(70px);
}
.row-img-item {
    display: flex;
    gap: vw(20px);
    margin-bottom: vw(20px);
    position: relative;
    height: vw(233px);
    > div {
        width: vw(370px);
        min-width: vw(370px);
        position: absolute;
        left: 0;
        display: inline-block;
        height: vw(233px);
        border-radius: vw(11px);
        overflow: hidden;
        display: flex;
        &::after {
            content: "";
            width: vw(20px);
            min-width: vw(20px);
            height: 100%;
        }
    }
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
        border-radius: vw(11px);
        transition: filter 2s ease-in-out;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.video-wrapper-hover {
    .preview {
        width: calc(100% - 1.18056vw);
        border-radius: vw(11px);
    }
    .player {
        width: calc(100% - 1.52778vw);
        height: 100%;
        border-radius: vw(11px);
    }
}

@media (max-width: 991px) {
    .video-wrapper-hover {
        .preview {
            width: calc(100% - vw(20px, 1));
            border-radius: 2.33645vw;
        }
        .player {
            width: calc(100% - vw(20px, 1));
            border-radius: 2.33645vw;
        }
    }
    .row-img-item > div::after {
        width: vw(20px, 1);
        min-width: vw(20px, 1);
    }
}
