:root {
  --pink-gr: linear-gradient(90deg, #b41281 4.17%, #8c23ca 100%);
}

@font-face {
  font-family: "adineue PRO Cyr";
  src: url("../fonts/adineuePROCyr-LightWeb.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "adineue PRO Cyr";
  src: url("../fonts/adineuePROCyr-BoldWeb.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

* {
  font-family: "adineue PRO Cyr", sans-serif;
}

body {
  background: #0d0725;
  color: #ffffff;
}
body.scroll-hide {
  overflow: hidden;
}

.container {
  max-width: 74.3055555556vw;
  margin: 0 auto;
  padding: 0 1.0416666667vw;
}

.page-site {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.pd-sec {
  padding: 4.8611111111vw 0;
}

.soc-block {
  display: flex;
  align-items: center;
  gap: 0.6944444444vw;
}
.soc-block a {
  width: 3.6111111111vw;
  height: 3.6111111111vw;
  background: linear-gradient(90deg, #b41281 4.17%, #8c23ca 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6944444444vw;
  position: relative;
  z-index: 1;
}
.soc-block a:hover::before {
  transform: scale(0);
}
.soc-block a::before {
  position: absolute;
  content: "";
  width: calc(100% - 0.2777777778vw);
  height: calc(100% - 0.2777777778vw);
  background-color: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.soc-block a img {
  max-width: 1.5277777778vw;
  max-height: 1.3888888889vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.0416666667vw 3.1944444444vw;
  z-index: 1;
}
.btn.btn--border {
  background: var(--pink-gr);
  position: relative;
}
.btn.btn--border::before {
  position: absolute;
  content: "";
  width: calc(100% - 0.2777777778vw);
  height: calc(100% - 0.2777777778vw);
  background: #0d0725;
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}
.btn.btn--border:hover::before {
  transform: scale(0);
}

.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 8.4027777778vw;
  height: 8.4027777778vw;
  background-image: url("../img/icon/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.play-btn:hover {
  filter: brightness(20);
}

.bfr-decor {
  position: relative;
}
.bfr-decor::before {
  position: absolute;
  content: "";
  background: var(--pink-gr);
  width: 30.5555555556vw;
  height: 27.7777777778vw;
  right: 0;
  top: -0.2777777778vw;
  z-index: -1;
}

.text-block {
  margin-top: 6.9444444444vw;
}
.text-block .container {
  color: #ffffff;
  font-weight: 400;
  line-height: 161.55%;
}
.text-block .container p {
  margin-bottom: 3.4722222222vw;
}
.text-block .container p:last-child {
  margin-bottom: 0;
}
.text-block.text-block-wrap .container {
  width: 74.3055555556vw;
  background: #120a2f;
  border-radius: 1.9444444444vw;
  padding: 3.125vw;
  line-height: 137.55%;
}

.text-left {
  text-align: left !important;
}

.video-wrapper--test {
  width: 50vw;
  height: 50vh;
  margin: 100px auto;
}

h1,
h2,
h3 {
  color: #ffffff;
  font-weight: 700;
}
h1 span,
h2 span,
h3 span {
  color: #a220d1;
}

.text-center {
  text-align: center;
}

.fw-b {
  font-weight: 700 !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fz58 {
  font-size: 4.0277777778vw;
  line-height: 4.7222222222vw;
}

.fz50 {
  font-size: 3.4722222222vw;
  line-height: 4.0972222222vw;
}

.fz38 {
  font-size: 2.6388888889vw;
  line-height: 3.125vw;
}

.fz32 {
  font-size: 2.2222222222vw;
  line-height: 137.55%;
}

.fz28 {
  font-size: 1.9444444444vw;
  line-height: 137.55%;
}

.fz24 {
  font-size: 1.6666666667vw;
  line-height: 1.9444444444vw;
}

.fz18 {
  font-size: 1.25vw;
  line-height: 161.55%;
  font-weight: 300;
  color: #ffffff;
}
.fz18 b {
  font-weight: 700;
}

.fz42 {
  font-size: 2.9166666667vw;
  line-height: 3.4027777778vw;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1.1111111111vw 0;
  transition: transform 0.3s ease-in-out, padding 0.3s ease-in-out, background 0.3s ease-in-out;
  z-index: 1000;
}
.header.header-top {
  transform: translateY(-100%);
}
.header.header-black {
  background: #000104;
  padding: 0.6944444444vw 0;
}
.header .container {
  max-width: 81.25vw;
}

.header__wrapper {
  display: flex;
}

.header__right {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1.4583333333vw;
}
.header__right .talk {
  font-weight: 700;
  font-size: 1.0416666667vw;
  line-height: 1.25vw;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 0.3472222222vw;
}
.header__right .talk::before {
  content: "";
  background-image: url("../img/icon/talk.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  display: block;
}

.logo {
  height: 3.6805555556vw;
  margin-left: -0.6944444444vw;
}
.logo img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mob-menu {
  background: #000104;
  position: fixed;
  right: 0;
  top: 0;
  padding: 5.2083333333vw 4.1666666667vw 3.125vw;
  width: 29.7222222222vw;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1111;
}
.mob-menu.active {
  transform: translateX(0);
}
.mob-menu .soc-block {
  margin-top: 5.4166666667vw;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.4305555556vw;
}
.nav a {
  font-weight: 700;
  font-size: 2.3611111111vw;
  line-height: 94.7%;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
.nav a.active {
  color: #e22fbf;
}
.nav a:hover {
  color: #e22fbf;
}

.mob-menu__bottom {
  margin-top: 2.4305555556vw;
  font-weight: 300;
  font-size: 1.1111111111vw;
  line-height: 171.7%;
  display: flex;
  gap: 1.3888888889vw;
}
.mob-menu__bottom a {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
.mob-menu__bottom a:hover {
  color: #e22fbf;
}

.burger {
  width: 5vw;
  height: 5vw;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  background: var(--pink-gr);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.burger::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2222;
}
.burger span {
  position: absolute;
  background: #fff;
  height: 2px;
  width: 2.2222222222vw;
  display: block;
  transition: all 0.3s linear;
  z-index: 2222;
  pointer-events: none;
}
.burger span:nth-child(1) {
  top: 1.875vw;
}
.burger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger span:nth-child(3) {
  bottom: 1.875vw;
}
.burger.active span:nth-child(1) {
  top: 2.3611111111vw;
  transform: rotate(45deg);
}
.burger.active span:nth-child(2) {
  opacity: 0;
}
.burger.active span:nth-child(3) {
  bottom: 2.4305555556vw;
  transform: rotate(-45deg);
}

.promo {
  height: 42.0833333333vw;
}
.promo .container {
  padding: 9.0277777778vw 1.0416666667vw 6.9444444444vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promo .swiper {
  height: 100%;
}
.promo.height-auto {
  height: auto;
  margin-bottom: 2.0833333333vw;
}
.promo.padding-big .container {
  padding: 6.9444444444vw 1.0416666667vw 3.4722222222vw;
  max-width: 80.2777777778vw;
}
.promo.bottom-shadow .promo-item::before {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, rgba(13, 7, 37, 0) 0%, #0d0725 100%);
  height: 11.5277777778vw;
  width: 100%;
  left: 0;
  bottom: -1px;
  z-index: -1;
}

.promo-item {
  position: relative;
  height: 100%;
}
.promo-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  -o-object-fit: cover;
  object-fit: cover;
}
.promo-item p {
  font-weight: 300;
  color: #ffffff;
  margin-top: 1.8055555556vw;
  max-width: 39.4444444444vw;
}

.promo__btn {
  margin-top: 1.7361111111vw;
}

.swiper-button-next {
  right: 2.0833333333vw;
}

.swiper-button-prev {
  left: 2.0833333333vw;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 1.5277777778vw;
}

.partners {
  background: #000910;
  padding: 1.7361111111vw 0;
  position: relative;
  margin-top: -0.1388888889vw;
  z-index: 22;
}
.partners::before {
  position: absolute;
  content: "";
  background: var(--pink-gr);
  height: 0.1388888889vw;
  width: 100%;
  left: 0;
  top: 0;
}

.partners__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.4722222222vw;
  gap: 6.25vw;
}
.partners__wrapper a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.8888888889vw;
}
.partners__wrapper a img {
  max-width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.row-img {
  margin-top: 4.1666666667vw;
  margin-bottom: 4.8611111111vw;
}

.row-img-item {
  display: flex;
  gap: 1.3888888889vw;
  margin-bottom: 1.3888888889vw;
  position: relative;
  height: 16.1805555556vw;
}
.row-img-item > div {
  width: 25.6944444444vw;
  min-width: 25.6944444444vw;
  position: absolute;
  left: 0;
  display: inline-block;
  padding-right: 1.3888888889vw;
  height: 16.1805555556vw;
  border-radius: 0.7638888889vw;
  overflow: hidden;
  display: flex;
}
.row-img-item > div:hover img {
  transform: scale(1.3);
}
.row-img-item > div::after {
  content: "";
  width: 1.3888888889vw;
  min-width: 1.3888888889vw;
  height: 100%;
}
.row-img-item img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-right: 2.0833333333vw;
  border-radius: 0.7638888889vw;
  transition: transform 2s ease-in-out;
}
.row-img-item > img {
  width: calc(100% - 1.3888888889vw);
}
.row-img-item .preview {
  width: calc(100% - 1.3888888889vw);
}
.row-img-item .player {
  width: calc(100% - 1.3888888889vw);
}
.row-img-item:last-child {
  margin-bottom: 0;
}

.img-text .container {
  max-width: 92.3611111111vw;
}

.img-text__wrapper {
  display: flex;
  align-items: center;
}

.img-text__img {
  border-radius: 3.4722222222vw;
  width: 56.3888888889vw;
  min-width: 56.3888888889vw;
  background: var(--pink-gr);
  padding: 0.2777777778vw;
  position: relative;
  height: 34.375vw;
  overflow: hidden;
  z-index: 1;
}
.img-text__img .preview {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0.2083333333vw;
  top: 0.2083333333vw;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  border-radius: 3.4722222222vw;
  overflow: hidden;
}
.img-text__img .preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.img-text__img .player {
  border-radius: 3.4722222222vw;
}

.img-text__text {
  margin-left: 3.8194444444vw;
  padding-left: 2.2916666667vw;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 27.6388888889vw;
}
.img-text__text.line-not {
  padding-left: 0;
  margin-left: 5.0694444444vw;
}
.img-text__text.line-not::before {
  display: none;
}
.img-text__text::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 0.2083333333vw;
  left: 0;
  top: 0;
  background: var(--pink-gr);
}
.img-text__text p {
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 1.875vw;
}
.img-text__text b {
  font-weight: 700;
}
.img-text__text div {
  margin-top: 1.6666666667vw;
}
.img-text__text img {
  width: 10.3472222222vw;
}

.img-text__btn {
  margin-top: 1.6666666667vw;
}

.provide h2 {
  max-width: 47.1527777778vw;
  margin: 0 auto;
}
.provide .container {
  max-width: 72.2916666667vw;
}
.provide.provide-big .container {
  max-width: 92.3611111111vw;
}
.provide.provide-big .provide__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.7777777778vw;
  max-height: inherit;
}
.provide.provide-big .provide__wrapper .provide-item {
  width: 100%;
  height: 25.3472222222vw;
}

.provide-mob-logo {
  display: none;
}

.provide__wrapper {
  margin: 5.7638888889vw auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 77.9861111111vw;
  gap: 1.3888888889vw;
  overflow: hidden;
}

.provide-item {
  width: calc(50% - 0.6944444444vw);
  position: relative;
  padding: 1.7361111111vw 2.7777777778vw;
  display: flex;
  flex-direction: column;
  border-radius: 0.6944444444vw;
  overflow: hidden;
  font-weight: 700;
  color: #ffffff;
}
.provide-item:nth-child(1) {
  height: 26.4583333333vw;
}
.provide-item:nth-child(2) {
  height: 22.0833333333vw;
}
.provide-item:nth-child(3) {
  height: 26.4583333333vw;
}
.provide-item:nth-child(4) {
  height: 36.875vw;
}
.provide-item:nth-child(5) {
  height: 39.6527777778vw;
}
.provide-item:hover img {
  transform: scale(1.2) rotate(5deg);
}
.provide-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  left: 0;
  top: 0;
  transition: transform 1s ease-in-out;
}
.provide-item p {
  font-weight: 700;
  color: #ffffff;
  margin-top: auto;
}

.provide__btn {
  margin: 2.7777777778vw auto 0 auto;
}

.clients__wrapper {
  height: 34.7222222222vw;
  margin-top: 2.7777777778vw;
  position: relative;
  min-width: 100vw;
}
.clients__wrapper .box-img {
  position: absolute;
  width: 12.8472222222vw;
  height: 12.8472222222vw;
}
.clients__wrapper .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.6666666667vw;
  -o-object-fit: contain;
  object-fit: contain;
}

.clients-anim-row {
  display: flex;
}

.ofer-sec {
  padding-top: 3.0555555556vw;
}
.ofer-sec h2 {
  text-align: right;
  padding-right: 6.9444444444vw;
}
.ofer-sec h2.pr-small {
  padding-right: 6.1111111111vw;
}
.ofer-sec .container {
  max-width: 74.25vw;
}
.ofer-sec.big-img .ofer-sec-item__img {
  margin-right: -13.5416666667vw;
  width: 52.3611111111vw;
  min-width: 52.3611111111vw;
}
.ofer-sec.big-img .ofer-sec-item__img img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ofer-sec__wrapper {
  margin-top: 4.6527777778vw;
}

.change-direction .ofer-sec-item {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.change-direction .ofer-sec-item:nth-child(even) {
  flex-direction: row;
}

.ofer-sec-item {
  display: flex;
  align-items: center;
  gap: 3.4722222222vw;
  justify-content: space-between;
  margin-bottom: 4.1666666667vw;
}
.ofer-sec-item h3 {
  margin-bottom: 1.0416666667vw;
}
.ofer-sec-item:last-child {
  margin-bottom: 0;
}
.ofer-sec-item:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.ofer-sec-item.bfr-decor::before {
  top: inherit;
  bottom: -4.8611111111vw;
  height: 11.9444444444vw;
  right: -13.8888888889vw;
}
.ofer-sec-item p {
  margin-bottom: 1.3888888889vw;
}
.ofer-sec-item p:last-child {
  margin-bottom: 1.3888888889vw;
}

.ofer-sec-item__img.video-wrapper {
  width: 38.47222vw;
  height: 21.66667vw;
}
.ofer-sec-item__img.video-wrapper .play-btn {
  width: 7.01389vw;
  height: 7.01389vw;
}
.ofer-sec-item__img.video-wrapper .player {
  width: 100%;
  height: 100%;
}
.ofer-sec-item__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.not-color span {
  color: #ffffff;
}

.ofer-sec-item__text {
  font-weight: 700;
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding: 0.3472222222vw 0 0 2.0833333333vw;
  max-width: 32.6388888889vw;
}
.ofer-sec-item__text > div {
  margin-bottom: 1.3888888889vw;
}
.ofer-sec-item__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 0.2777777778vw;
  background: var(--pink-gr);
}

.ofer-sec__btn-more {
  margin: 4.1666666667vw auto 0 auto;
}

.bottom-page-block {
  position: relative;
  margin-top: 2.6388888889vw;
  padding: 4.1666666667vw 0;
}
.bottom-page-block img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
}
.bottom-page-block a {
  color: rgb(0, 0, 0);
  position: relative;
  transition: color 0.3s ease-in-out;
}
.bottom-page-block a:hover {
  color: #fff;
}
.bottom-page-block a::before {
  position: absolute;
  content: "";
  height: 0.2083333333vw;
  width: 100%;
  left: 0;
  bottom: 1px;
  background-color: currentColor;
  transition: background-color 0.3s ease-in-out;
}

.footer {
  background: #0e1115;
  padding: 3.0555555556vw 0 3.4722222222vw 0;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3.4722222222vw;
  max-width: 74.3055555556vw;
}

.footer__logo {
  width: 16.3194444444vw;
  display: block;
  transform: translateX(-0.6944444444vw);
}
.footer__logo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__info {
  display: flex;
  font-weight: 300;
  font-size: 1.1111111111vw;
  line-height: 190%;
  color: #ffffff;
  margin-top: 0.6944444444vw;
  gap: 6.9444444444vw;
}
.footer__info a {
  display: block;
  color: currentColor;
}
.footer__info b {
  font-weight: 700;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__right div {
  font-weight: 300;
  font-size: 1.1111111111vw;
  line-height: 171.7%;
  color: #ffffff;
}
.footer__right div:nth-child(2) {
  margin-top: 4.0277777778vw;
}
.footer__right div a {
  color: currentColor;
}
.footer__right .soc-block {
  width: -moz-fit-content;
  width: fit-content;
}
.footer__right .soc-block a::before {
  background-color: #0e1115;
}

.video-wrapper {
  position: relative;
}

.video-wrapper-hover {
  z-index: 1;
}
.video-wrapper-hover .play-btn {
  display: none;
}

.player {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0.2083333333vw;
  top: 0.2083333333vw;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 0.6944444444vw;
}
.player video {
  height: 100%;
  width: 100%;
}
.player > div {
  height: 100%;
}

.preview {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}
.preview.hide, .preview.not-visible {
  opacity: 0;
  pointer-events: none;
}
.preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.6944444444vw;
}

.comment {
  max-width: 72.2222222222vw;
  margin: 7.9861111111vw auto;
  background: #120a2f;
  border-radius: 28px;
  padding: 1.3888888889vw 4.5138888889vw 3.4722222222vw;
}

.comment__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.7777777778vw;
}
.comment__info::after {
  content: "";
  background-image: url("../img/icon/comment-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8.4722222222vw;
  height: 6.1805555556vw;
}

.comment__icon {
  width: 8.2638888889vw;
  height: 8.2638888889vw;
  position: relative;
  z-index: 1;
}
.comment__icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--pink-gr);
  border-radius: 50%;
  z-index: -1;
  left: -0.3472222222vw;
  bottom: -0.4166666667vw;
}
.comment__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.comment__text {
  margin-top: 3.125vw;
}
.comment__text h2 {
  margin-bottom: 15px;
}

.contact {
  margin-bottom: 85px;
}
.contact h2:first-child {
  margin-bottom: 14px;
}

.contact__form {
  margin-top: 50px;
}

.form__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 3.6111111111vw;
  column-gap: 3.6111111111vw;
  row-gap: 2.9166666667vw;
}

.form__input {
  width: 100%;
  height: 2.5694444444vw;
}
.form__input input {
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 161.55%;
  color: #ffffff;
  padding: 0.5902777778vw 0.6944444444vw;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
}
.form__input input::-moz-placeholder {
  color: #ffffff;
}
.form__input input::placeholder {
  color: #ffffff;
}

.form__textarea {
  grid-column: 1/3;
  width: 100%;
  height: 7.9166666667vw;
}
.form__textarea textarea {
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 161.55%;
  color: #ffffff;
  padding: 0.5902777778vw 0.6944444444vw;
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  resize: none;
}
.form__textarea textarea::-moz-placeholder {
  color: #ffffff;
}
.form__textarea textarea::placeholder {
  color: #ffffff;
}

.form__btn {
  grid-column: 1/3;
  padding: 1.0416666667vw 6.1111111111vw;
}

.project {
  margin-top: 13.8888888889vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.7777777778vw;
}
.project a {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 36.1111111111vw;
}
.project a.width100 {
  grid-column: 1/3;
  height: inherit;
  max-height: inherit;
}
.project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.team .comment__info {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1.875vw;
}
.team .comment__info::after {
  display: none;
}
.team .comment__icon {
  width: 10.1388888889vw;
  height: 10.1388888889vw;
  border-radius: 2.0138888889vw;
  margin-top: -4.1666666667vw;
}
.team .comment__icon::before {
  border-radius: 2.0138888889vw;
}
.team .comment__icon img {
  border-radius: 2.0138888889vw;
}
.team .fz28 {
  font-weight: 700;
}

@media (max-width: 991px) {
  .logo {
    height: 12.4486vw;
  }
  .header__right .talk {
    display: none;
  }
  .header {
    height: 16.82243vw;
    padding: 0;
  }
  .header__wrapper {
    align-items: center;
    height: 100%;
  }
  .container {
    max-width: calc(100% - 7.00935vw) !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .burger {
    width: 16.82243vw;
    height: 16.82243vw;
  }
  .burger span {
    width: 7.57009vw;
  }
  .img-text__text img {
    width: 34.81308vw;
  }
  .ofer-sec-item__img {
    width: 100%;
  }
  .ofer-sec-item__img img {
    width: 100%;
  }
  .burger span:nth-child(1) {
    top: 5.84112vw;
  }
  .burger span:nth-child(3) {
    bottom: 5.84112vw;
  }
  .mob-menu {
    width: 100%;
    padding: 17.52336vw 14.01869vw;
    height: 100%;
  }
  .nav a {
    font-size: 7.94393vw;
    line-height: 94.7%;
  }
  .nav ul {
    gap: 8.17757vw;
  }
  .burger.active span:nth-child(3) {
    bottom: 8.17757vw;
  }
  .burger.active span:nth-child(1) {
    top: 7.94393vw;
  }
  .soc-block a {
    width: 12.14953vw;
    height: 12.14953vw;
  }
  .soc-block a img {
    max-width: 5.14019vw;
    width: 30%;
    max-height: 4.6729vw;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .mob-menu__bottom {
    margin-top: 8.17757vw;
    font-size: 3.73832vw;
    line-height: 171.7%;
    gap: 3.50467vw;
  }
  .mob-menu .soc-block {
    margin-top: 18.2243vw;
  }
  .promo .container {
    min-height: 140.18692vw;
    padding: 27.1028vw 0 19.85981vw;
  }
  .promo {
    height: auto;
  }
  .fz58 {
    font-size: 10.28037vw;
    line-height: 12.14953vw;
  }
  .partners::before {
    display: none;
  }
  .partners__wrapper {
    height: 11.68224vw;
    overflow-x: auto;
    padding: 0;
    gap: 11.25vw;
    z-index: 22;
    position: relative;
  }
  .partners__wrapper a {
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .partners {
    padding: 0;
    padding: 0 0 10.98131vw;
    position: relative;
    margin-top: -4.6729vw;
  }
  .partners::after {
    position: absolute;
    content: "";
    height: 36.68224vw;
    left: 0;
    top: -29.6729vw;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  .row-img {
    margin-top: 0;
    position: relative;
  }
  .row-img::before {
    position: absolute;
    content: "";
    height: 128.4px;
    width: 100%;
    background: #000;
  }
  .btn {
    width: 100%;
    min-height: 11.21495vw;
    border-radius: 0.70093vw;
    font-size: 3.50467vw;
    line-height: 4.20561vw;
  }
  .btn.btn--border::before {
    display: none;
  }
  .btn.btn--border {
    background: none;
    border: 0.46729vw solid #b41281;
  }
  .promo__btn {
    margin-top: 2.57009vw;
  }
  .row-img-item > div {
    height: 54.43925vw;
    width: 81.7757vw;
    border-radius: 2.33645vw;
  }
  .row-img-item {
    height: 54.43925vw;
    margin-bottom: 4.6729vw;
  }
  .row-img-item img {
    margin-right: 4.6729vw;
    border-radius: 2.33645vw;
  }
  .img-text__wrapper {
    flex-direction: column;
  }
  .img-text__img {
    width: 100%;
    height: auto;
    min-height: 51.56075vw;
    margin-bottom: 6.54206vw;
    border-radius: 3.97196vw;
  }
  .img-text__img img {
    border-radius: 3.97196vw;
  }
  .img-text__img img {
    transform: translate(1.16822vw, 0.93458vw);
  }
  .img-text__img .preview img {
    transform: translate(0, 0);
  }
  .img-text__img .preview {
    width: calc(100% - 1.86916vw);
    height: calc(100% - 1.86916vw);
    left: 0.93458vw;
    top: 0.93458vw;
  }
  .img-text__text.line-not {
    margin-left: 0;
  }
  .img-text__text p {
    margin-bottom: 7.00935vw;
  }
  .img-text__img .player {
    width: calc(100% - 1.86916vw);
    height: calc(100% - 1.86916vw);
    left: 0.93458vw;
    top: 0.93458vw;
  }
  .play-btn {
    width: 18.92523vw;
    height: 18.92523vw;
    background-image: url(../img/icon/icon-play-mob.svg);
  }
  .img-text__text {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    max-width: 100%;
  }
  .img-text__text::before {
    display: none;
  }
  .fz28 {
    font-size: 6.54206vw;
    line-height: 137.55%;
  }
  .fz18 {
    font-size: 4.20561vw;
    line-height: 161.55%;
  }
  .img-text__text div {
    margin-top: 5.60748vw;
  }
  .img-text__btn {
    margin-top: 5.60748vw;
  }
  .fz42 {
    font-size: 9.81308vw;
    line-height: 11.4486vw;
  }
  .provide h2 {
    max-width: 100%;
  }
  .provide__wrapper {
    gap: 7.94393vw;
  }
  .provide-item {
    width: 100%;
    height: auto;
    padding: 3.50467vw;
    border-radius: 2.33645vw;
  }
  .provide__wrapper {
    max-height: 100%;
  }
  .provide-mob-logo {
    display: block;
    position: absolute;
    left: 2.33645vw !important;
    top: 0;
    width: 30.61215vw !important;
    height: auto !important;
  }
  .fz24 {
    font-size: 5.60748vw;
    line-height: 6.54206vw;
    text-align: center;
  }
  .provide-item:nth-child(1) {
    height: 60.1215vw;
  }
  .provide-item:nth-child(2) {
    height: 93.29907vw;
  }
  .provide-item:nth-child(3) {
    height: 49.70561vw;
  }
  .provide-item:nth-child(4) {
    height: 59.81308vw;
  }
  .provide-item:nth-child(5) {
    height: 99.02804vw;
  }
  .provide__btn {
    margin-top: 7.71028vw;
  }
  .pd-sec {
    padding: 7.00935vw 0;
  }
  .soc-block a::before {
    width: calc(100% - 1.40187vw);
    height: calc(100% - 1.40187vw);
  }
  .soc-block {
    gap: 2.80374vw;
  }
  .clients__wrapper .box-img {
    width: 28.03738vw;
    height: 28.03738vw;
  }
  .clients__wrapper {
    height: 81.7757vw;
  }
  .clients h2 br {
    display: none;
  }
  .ofer-sec h2 {
    padding-right: 0;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .bfr-decor::before {
    width: 45.3271vw;
    height: 64.95327vw;
  }
  .ofer-sec-item {
    flex-direction: column-reverse;
    gap: 8.17757vw;
    margin-bottom: 18.69159vw;
  }
  .ofer-sec__wrapper {
    margin-top: 7.00935vw;
  }
  .ofer-sec-item__text {
    max-width: 100%;
    width: 100%;
    padding-left: 7.00935vw;
  }
  .ofer-sec-item__text::before {
    width: 0.93458vw;
  }
  .fz38 {
    font-size: 7.94393vw;
    line-height: 9.34579vw;
  }
  .ofer-sec-item:nth-child(even) {
    flex-direction: column-reverse;
  }
  .ofer-sec__btn-more {
    margin-top: 10.51402vw;
  }
  .fz50 {
    font-weight: 700;
    font-size: 11.68224vw;
    line-height: 13.78505vw;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }
  .bottom-page-block {
    margin-top: 15.42056vw;
    padding: 23.36449vw 0;
  }
  .bottom-page-block h2 {
    padding: 0 2.33645vw;
  }
  .bottom-page-block h2 br {
    display: none;
  }
  .container {
    padding: 0;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__info {
    flex-direction: column;
    gap: 7.00935vw;
  }
  .footer__info {
    font-size: 4.43925vw;
    line-height: 171.7%;
  }
  .footer__logo {
    width: 54.95093vw;
    margin-bottom: 4.6729vw;
  }
  .footer {
    padding: 8.17757vw 0;
  }
  .footer__right {
    margin-top: 5.84112vw;
    align-items: center;
  }
  .footer__right .soc-block {
    opacity: 1 !important;
  }
  .footer__right div {
    font-size: 3.73832vw;
    line-height: 171.7%;
    color: #ffffff;
    opacity: 0.5;
  }
  .comment {
    max-width: calc(100% - 7.00935vw) !important;
    margin: 15.986111vw auto;
    padding: 4.388889vw 4.5138888889vw 3.4722222222vw;
  }
  .comment__icon {
    width: 15.263889vw;
    height: 15.263889vw;
  }
  .provide-item {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }
  .promo-item p {
    max-width: 100%;
  }
  .ofer-sec-item.bfr-decor::before {
    display: none;
  }
  .form__wrap {
    grid-template-columns: 1fr;
  }
  .form__textarea,
  .form__btn {
    grid-column: 1/2;
  }
  .form__input input,
  .form__textarea textarea {
    font-size: 5.25vw;
    line-height: 161.55%;
  }
  .form__input {
    height: 13.569444vw;
  }
  .form__textarea {
    height: 28.916667vw;
  }
  .form__btn {
    margin-top: 8.5625vw;
  }
  .promo-ofer br {
    display: none;
  }
  .text-block.text-block-wrap .container {
    width: calc(100% - 7.00935vw) !important;
  }
  .text-block.text-block-wrap .container br {
    display: none;
  }
  .fz32 {
    font-size: 5.222222vw;
  }
  .change-direction .ofer-sec-item {
    flex-direction: column-reverse;
  }
  .change-direction .ofer-sec-item:nth-child(even) {
    flex-direction: column-reverse;
  }
  .ofer-sec.big-img .ofer-sec-item__img {
    width: 100%;
    margin-right: 0;
  }
  .team .comment__icon {
    width: 19.138889vw;
    min-width: 19.138889vw;
    height: 19.138889vw;
    margin-right: 3vw;
    margin-top: 0;
  }
  .team .comment__info {
    align-items: flex-start;
  }
  .team .comment__icon::before {
    border-radius: 4.013889vw;
  }
  .ofer-sec-item__img.video-wrapper {
    width: 100%;
    height: 61.4486vw;
  }
  .ofer-sec-item__img.video-wrapper .play-btn {
    width: 18.92523vw;
    height: 18.92523vw;
  }
  .bottom-page-block a {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .bottom-page-block a::before {
    height: 0.5vw;
  }
  .not-color span {
    display: inline-block;
  }
  .not-color span::first-letter {
    text-transform: uppercase;
  }
  .clients h2 span {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */
