<header class="header">
    <div class="container header__wrapper">
        <a href="#" class="logo">
            <img src="img/icon/logo.svg" alt="img">
        </a>
        <div class="header__right">
            <a href="#" class="talk">
                Let's talk
            </a>
            <div class="burger">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="mob-menu">
            <nav class="nav">
                <ul>
                    <li><a href="#">Home page</a></li>
                    <li><a href="#">What we do</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Insights</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </nav>
            <div class="soc-block">
                <a href="#">
                    <img src="img/icon/linkedin.svg" alt="img">
                </a>
                <a href="#">
                    <img src="img/icon/youtube.svg" alt="img">
                </a>
                <a href="#">
                    <img src="img/icon/vvvv.svg" alt="img">
                </a>
                <a href="#">
                    <img src="img/icon/facebook.svg" alt="img">
                </a>
            </div>
            <div class="mob-menu__bottom">
                <a href="#">privacy policy</a>
                <a href="#">terms of use</a>
            </div>
        </div>
    </div>
</header>